
html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Global layout */

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
}

body main {
  width: 450px;
  background-color: white;
  padding: 65px 0;
  margin: 0 auto;
}