nav {
  background-color: #00a087;
  color: #e8fdff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0em 2em;
  z-index:2;
}

.logo {
  width: 80px;
  height: 80px;
  float: left;
}

.header {
  margin-left: 10px;
  font-size: 2em;
  float: left;
  line-height: 80px;
}

/*create a span to capture all nav links*/

nav span {
  float: right;
}

.compose {
  margin-top: 15px;
  color: #00a087;
  border-radius: 5px;
  height: 50px;
}

.compose:hover {
  background-color: #88d8c0;
  color: white;
  border: solid white 2px;
}

.compose span {
  margin-top: 4px;
  margin-right: 2px;
}

.compose:hover .icon {
  color: white;
}

.compose .icon {
  color: #00a087;
  width: 30px;
  float: left;
}

