.new-tweet {
  background-color: #eee;
  margin: 2em auto;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  border: solid #E0E0E0 2px;

}

.new-tweet h2 {
  margin-top: 0px;
  border-bottom: 2px solid;
}

.new-tweet textarea {
  max-width: 100%;
  width: 100%;
  border: solid #E0E0E0 2px;
}

.new-tweet input {
  border: solid #E0E0E0 2px;
}

.red {
  color: red;
  float: right;
}

.counter {
  float: right;
  color: black;
}

.form-validation {
  color: red;
  font-style: italic;
  margin-bottom: 5px;
}
