

.tweets article:hover {
  opacity: 1;
}

.tweets article {
  background-color: white;
  width: 400px;
  margin: 2em auto;
  border-radius: 10px;
  border: solid #E0E0E0 2px;
  opacity: 0.7;
}

/*tweet header*/

.tweets header {
  background-color: #eee;
  height: 70px;
  border-radius: 10px 10px 0 0;
}

.avatar {
  width: 50px;
  height: 50px;
  float: left;
  margin: 10px;
}

.tweets h2 {
  margin-top: 0px;
  padding-top: 10px;
  float: left;
}

.handle {
  float: right;
  line-height: 70px;
  margin-right: 10px;
  font-size: 16px;
}

/*tweet main*/

.tweets main {
  width: 100%;
  padding: 0px;
}

.tweet-body {
  width: 100%;
  padding: 0 1em;
}

/*tweet footer*/

.tweets footer {
  border-top: solid #E0E0E0 2px;
  height: 40px;
}

.created-at {
  font-size: 12px;
  margin-left: 10px;
  float: left;
}

.icon {
  width: 0px;
}

.tweets article:hover .icon {
  float: right;
  width: 20px;
  height: 20px;
  margin: 8px 8px 8px 0;
  color: #00a087;
}
